<div class="container">
  <h2>Contact Us</h2>
  <div class="contact-info">
    <h3>Get in Touch</h3>
    <p>We'd love to hear from you. Send us a message and we'll respond as soon as possible.</p>
    
    <div class="contact-details">
      <div class="contact-item">
        <h4>Email</h4>
        <p>support@gmart.com</p>
      </div>
      <div class="contact-item">
        <h4>Phone</h4>
        <p>+1 (555) 123-4567</p>
      </div>
      <div class="contact-item">
        <h4>Address</h4>
        <p>123 Commerce Street<br>Business District, BD 12345</p>
      </div>
    </div>
  </div>
</div>
